#calculator{
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    padding:5px;
    margin-left: 400px;
    background-color:  rgb(158, 155, 155);
}
#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: right;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.button{
    width: 45px;
    height: 45px;
    margin: 3px;
    background-color: antiquewhite;
    border-radius: 5px;
}